* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .services,
  .products,
  .sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .services {
    background-image: url('/src/images/img-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .products {
    background-image: url('/src/images/img-1.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .sign-up {
    background-image: url('/src/images/img-8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }


  body {
    overflow-x: hidden;
  }
  
  .main-container {
    margin-top: 20px;
  }































  .popular-tours {
    padding: 5rem 0 10rem 0;
  }
  
  .popular-tours-heading {
    font-size: 8rem;
    text-align: center;
    color: aliceblue;
    margin-bottom: 8rem;
    text-shadow: 0 0.1rem 0.2rem var(--primary-color);
  }
  
  .cards-wrapper {
    display: flex;
    justify-content: space-evenly;
  }
  
  .card {
    width: 35rem;
    position: relative;
    perspective: 150rem;
  }
  
  .card-image {
    width: 100%;
    border-radius: 0.3rem 0.3rem 0 0;
  }
  
  .front-side {
    text-align: center;
    background-color: var(--white-color);
    border-radius: 0.3rem;
    position: relative;
    z-index: 10;
    opacity: 0.9;
    transition: opacity 0.4s, transform 0.4s, box-shadow 0.4s;
  }
  
  .change > .front-side {
    transform: translateZ(-5rem) translateX(3rem);
    box-shadow: 0 2rem 4rem #777;
    opacity: 0.5;
    z-index: 0;
  }
  
  .tour-name {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    right: 1.5rem;
    color: var(--white-color);
    text-shadow: 0 0 1rem #000;
  }
  
  .card-list {
    width: 80%;
    margin: auto;
    padding: 2rem 0 3rem 0;
  }
  
  .card-list-item {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--light-grey-color);
    margin: 2rem 0;
    border-bottom: 0.1rem solid var(--primary-color);
    padding-bottom: 1.5rem;
  }
  
  .back-side {
    position: absolute;
    top: 0;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
    box-shadow: 0 2rem 4rem #777;
    flex-direction: column;
    transform: translateZ(-5rem) translateX(3rem);
    opacity: 0.5;
    transition: opacity 0.4s, transform 0.4s, box-shadow 0.4s;
  }
  
  .change > .back-side {
    transform: translateZ(0) translateX(0);
    box-shadow: 0 0.5rem 2rem #aaa;
    opacity: 0.9;
  }
  
  .tour-price {
    font-size: 5rem;
    font-weight: 300;
    color: var(--white-color);
    margin-bottom: 3rem;
  }
  
  .card-button {
    color: var(--primary-color);
    background-color: var(--white-color);
    border: none;
    font-size: 2.5rem;
    padding: 1rem 2rem;
    letter-spacing: 0.2rem;
    border-radius: 5rem;
    cursor: pointer;
  }
  
  .navigation-button {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--light-grey-color);
    border-radius: 0.3rem;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    cursor: pointer;
  }